{{ partial "header.html" . }}

<image-slider>
    <p>
        <a @click="prev" class="prevbtn" href='#'></a><a @click="next" class="nextbtn" href='#'></a>
    </p>
    <transition-group name='fade' tag='div'>
        <div v-for="number in [currentNumber]" :key='number'>
            <img :src="currentImage" v-on:mouseover="stopRotation" v-on:mouseout="startRotation" />
        </div>
    </transition-group>
</image-slider>

{{ partial "footer.html" . }}