<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Guillaume Ferrari - Wedding Film Photographer</title>
  <meta name="description" content="French wedding and family photographer.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" href="/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100" rel="stylesheet">
  {{ $style := resources.Get "css/main.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}<link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" >
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div id="page">
    <nav>
      <a href="/"><img id="logo" src="/img/logo.png"></a>
      <ul id="mainnav">
        <li><a href="/">Weddings</a></li>
        <li><a href="/family/">Family</a></li>
        <li><a href="/personal/">Personal</a></li>
      </ul>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/pricing/">Pricing</a></li>
        <li><a href="/workshop/">Workshops</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
    <main>