<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta name="generator" content="Hugo 0.49" />
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Guillaume Ferrari - Wedding Film Photographer</title>
  <meta name="description" content="French wedding and familly photographer.">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" href="favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Kanit:100" rel="stylesheet">
  <link rel="stylesheet" href="https://youthful-heyrovsky-7f87e0.netlify.com/css/main.min.f68a010fdb34a967ed459cf94c127c753c677612d4976c215decc1e50655e44e.css" integrity="sha256-9ooBD9s0qWftRZz5TBJ8dTxndhLUl2whXezB5QZV5E4=" >
</head>
<body>
  
  <div id="page">
    <nav>
      <a href="/"><img id="logo" src="img/logo.png"></a>
      <ul id="mainnav">
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Familly</a></li>
        <li><a href="#">Personal</a></li>
      </ul>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Client Gallery</a></li>
        <li><a href="#">Workshops</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <main>
    <image-slider>
        <p>
            <a @click="prev" class="prevbtn" href='#'></a><a @click="next" class="nextbtn" href='#'></a>
        </p>
        <transition-group name='fade' tag='div'>
            <div v-for="number in [currentNumber]" :key='number'>
                <img :src="currentImage" v-on:mouseover="stopRotation" v-on:mouseout="startRotation" />
            </div>
        </transition-group>
    </image-slider>        
</main>  
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/main.js"></script>
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-235793-23', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
