
@import 'normalize';

/* Variables */
$breakpoint: 80px;
$hauteurmenumobile: 150px;
$largeurmenuecran: 250px;

* {box-sizing: border-box}

body {
  background-color: #eee;
  color: #666;
}

#page{
  display: flex;
  @media screen and (max-width: $breakpoint) {
    flex-direction: column;
  }
}

nav{
  width:$largeurmenuecran;
  @media screen and (max-width: $breakpoint) {
    width:100vw;
    height:$hauteurmenumobile;
  }
}

nav>ul {
  display:flex;
  flex-direction: column;
  margin-left:20px;
  /*justify-content:space-around; */
  /*align-items:center;*/
}

nav>ul>li{
  padding-left:10px;
  font-family: 'Kanit', sans-serif;
  list-style: none;
}

nav>ul>li>a{
  font-size: 1rem;
  text-decoration: none;
  color:#333;
  line-height: 1.8rem;
}

#mainnav a{
  font-size: 1.2rem;
  line-height: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color:#333;
}

nav>ul>li>a:hover, #mainnav a:hover{
  color:#000;
}

img#logo{
  padding:50px 50px 20px;
  width: 100%;
}

main, image-slider, image-slider>div, image-slider>div>div, image-slider>p{
  margin: 0;
  width: calc(100vw - #{$largeurmenuecran});
  height: 100vh;

  @media screen and (max-width: $breakpoint) {
    width:100vw;
    height: calc(100vh - $hauteurmenumobile);
  }
}

image-slider>div>div>img{
  width:100%;
  height:100%;
  object-fit: contain;
  padding:20px;
}

.fade-enter-active, .fade-leave-active {
  transition: all 0.8s ease;
  animation: 30s slidy infinite;
  overflow: hidden;
  visibility: visible;
  opacity: 1;
  position: absolute;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  visibility: hidden;
}

image-slider>p{
  display: flex;
  align-items: stretch;
  position: absolute;
  z-index: 10000;
}

.prevbtn, .nextbtn{
  display: block;
  width:50%;
  height: 100%;
  outline: 0;
}
