{{ partial "header.html" . }}

<image-slider>
    <p>
        <a @click="prev" class="prevbtn" href='#'></a><a @click="next" class="nextbtn" href='#'></a>
    </p>
    <transition-group name='fade' tag='div'>
        <div v-for="number in [currentNumber]" :key='number'>
            <img :src="currentImage" v-on:mouseover="stopRotation" v-on:mouseout="startRotation" />
        </div>
    </transition-group>
</image-slider>

</main>  
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
{{ $js := resources.Get "js/family.js" | resources.Minify  | resources.Fingerprint}}<script src="{{ $js.Permalink }}" integrity="{{ $js.Data.Integrity }}" ></script>
<script>
  window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
  ga('create', 'UA-235793-23', 'auto'); ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>

</html>
